doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css')
    link(rel='stylesheet', id="theme" href= theme)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Material+Icons')
    link(rel='stylesheet', href='/css/styles.min.css')
    link(rel='icon', href= icon)
    block links
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js')
    script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/arrive/2.4.1/arrive.min.js')
    script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/cs.js')
    block scripts
  body
    block content
    #app
    #spinner
    #modal
