::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc !important;
}
.control-panel {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}
#cp-tab-screen {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    overflow: auto;
    box-shadow: none;
    h5 {
        margin: 0;
    }
    border-radius: 0 !important;
}
#cp-header {
    color: $primaryThemeColor;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
.cp-name {
    font-size: 24px;
}
#cp-tabs {
    min-width: 200px;
    max-width: 200px;
    overflow: auto;
    scroll-padding: 50px 0 0 50px;
    height: 100%;
    .btn {
        margin: 0;
    }
}
.cp-control {
    display: flex;
    align-items: center;
    .btn { margin: 0 }
    .bmd-form-group {
        margin: 0 5px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    input {
        color: $primaryThemeColor;
        width: 100px;
        text-align: center;
    }
}
.cp-tab.active {
    border-right: 5px solid white !important;
}
.cp-tab {
    width: 100%;
    padding: 20px 0;
    position: relative;
    .cp-tab-name {
        text-align: left;
        text-indent: 50px;
    }
    i.material-icons {
        position: absolute;
        left: 10px;
        top: 19px;
    }
}

.table {
    display: table;
    .btn {
        margin: 0;
        width: 100%;
    }
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    padding: 10px;
}
.tr:first-child {
    font-weight: bold;
}
.tr:nth-child(even) {
    background: #f9f9f9;
}
.tr:hover {
    background-color: #f1f1f1;
}
.card-body.table.transactions {
    flex: initial;
    display: table;
}
.transaction-item {
    width: 100%;
}
.transaction-item .ti-number {
    border-left: 2px solid transparent;
}
.transaction-item:hover .ti-number {
    border-left: 2px solid $primaryThemeColor;
}
.ti-number {
    font-weight: bold;
    cursor: pointer;
}
.ti-order {
    font-weight: bold;
}
.ti-total {
    text-align: right;
}
.ti-print, .ti-payment, .ti-delivery {
    text-align: center;
}
.ti-number {
    color: $primaryThemeColor;
}
.receipt-image {
    height: 100px;
    background-size: contain;
    background-position: center;
}
.receipt-preview {
    margin: 0 auto;
    width: fit-content;
    line-height: 16px;
    font-family: monospace;
    font-size: 12px;
    background-color: #fcfcfc;
    padding: 10px;
    width: 270px;
}
.rp-large {
    font-size: 20px;
    line-height: 16px;
}
.rp-bold {
    font-weight: bold;
    text-decoration: underline;
}
.rp-line {
    display: flex;
    justify-content: space-between;
}
.rp-line:last-child {
    margin-top: 30px;
}
.rp-line:last-child span {
    color: #888;
}
span.match {
    color: $primaryThemeColor;
    font-weight: bold;
}
.sr-img {
    width: 60px;
    background-size: contain;
}
.sr-ean, .sr-price, .sr-number, .sr-order, .sr-position, .sr-products, .sr-limit {
    text-align: right;
}
.sr-price {
    width: 100px;
}
.sr-group, .sr-type {
    white-space: nowrap;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sr-vat, .sr-active {
    width: 60px;
}
.sr-vat, .sr-edit, .sr-display, .sr-active, .sr-available {
    text-align: center;
}
.sr-display, .sr-products, .sr-order, .sr-position, .sr-number, .sr-limit {
    width: 80px;
}
.sr-name, .sr-img, .sr-number {
    cursor: pointer;
}
.sr-name {
    font-weight: bold;
}
.sr-name:hover, .sr-number:hover {
    text-decoration: underline;
}
.navbar .btn-group {
    margin: 0;
}
.custom-select {
    cursor: pointer;
    border: none;
    height: 35px;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}
form {
    .form-control:read-only {
        background-color: transparent;
        color: #aaa;
    }
    
}
.form-control.invalid {
    background-image: linear-gradient(0deg, #d50000 2px, rgba(213,0,0,0) 0), linear-gradient(0deg, rgba(0,0,0,.26) 1px, transparent 0);
}
.form-row > * {
    flex-grow: 1;
}
.payment-method-toggle {
    width: 200px;
}
.form-row.product-mods {
    flex-direction: column;
}
.product-mod {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.675rem;
    cursor: pointer;
    width: calc(20% - 2px);
    min-width: 100px;
    /* border-radius: 20px; */
    white-space: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color;
    margin-bottom: 5px;
    margin-right: 2px;
}
.product-mod:hover {
    background-color: $primaryThemeColorDarker;
}
[class^=bmd-label] {
    color: #434343;
}
.btn-save {
    width: 200px;
}
.img-upload {
    position: relative;
    max-width: 300px;
    cursor: pointer;
    margin: 0 10px;
    min-height: 120px;
    max-height: 150px;
    .img-holder {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
    }
    i.material-icons {
        font-size: 80px;
    }
}
video.img-holder {
    width: 100%;
}
.control-panel .card-body {
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0;
  .card-header {
    width: 100%;
  }
  & > div, & > form {
    flex-grow: 1;
  }
}
input.hidden {
    display: none;
}
.horizontal-scroll {
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
}
.mod-item {
    input, select {
        color: $primaryThemeColor;
        font-weight: 700;
        padding: 7px 5px;
    }
    .form-row {
        margin-right: 0;
        margin-left: 0;
    }
    input + i {
        position: absolute;
        right: 5px;
        top: 60%;
        font-size: 16px;
        font-style: normal;
        color: rgb(255, 192, 192)
    }
    input[type=file] {
        position: absolute;
        top: -9999px;
    }
    /*input[type=file].cloudinary-fileupload {
        position: initial;
    }*/
}
.mod-item.card .card {
    margin-bottom: 10px;
    padding: 10px;
}
.card.printer .dropdown {
    justify-content: flex-end;
    display: flex;
}
.mi-header {
    font-weight: bold;
    font-size: 14px;
    background-color: $primaryThemeColor;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    border: 5px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mi-body {
    padding: 10px;
    flex-grow: 1;
    .bmd-form-group {
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
}
.mi-control {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    button, a {
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .material-icons {
        font-size: 22px;
    }
}
.mi-btn {
    width: 50%;
    max-width: 270px;
}

.dashboard {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
/*.db-row {
    display: flex;
    width: 100%;
}*/
.db-card {
    padding: 15px 20px;
    text-align: left;
    background-color: #f9f9f9;
    max-height: 720px;
    overflow: auto;
}
.db-value {
    font-size: 24px;
}
.db-label {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.db-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    &:hover {
        background-color: #f1f1f1;
    }
}
#db-hour-chart {
    display: none;
}
@media screen and (min-width: 720px) {
    #cp-header {
        display: flex;
        min-height: 80px;
    }
    #db-hour-chart {
        display: block;
    }
}
@media screen and (min-width: 840px) {
    .img-upload {
        width: 240px;
    }
    .dashboard {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    #db-hour-chart {
        background-color: initial;
        grid-column: 1/4;
        height: 320px;
    }
    #db-top-sold {
        grid-column: 2/4;
        grid-row: 3/6
    }
    #db-average-revenue, #db-revenues-by-vat, #db-revenues-by-group {
        grid-column: 1/2;
    }
    #db-average-revenue { grid-row: 3/4 }
    #db-revenues-by-vat { grid-row: 4/5 }
    #db-revenues-by-group { grid-row: 5/6 }
}
