.container-signin {
    height: 100%;
    display: flex;
}
.signin-aside {
    flex-grow: 1;
    background-image: url(https://image.freepik.com/free-photo/kitchen-background-cooking-food-concept-onion-table-vegetables-table-cooking-process-toning_1220-1146.jpg);
    background-position: center;
}
.form-signin {
    box-shadow: none;
    width: 320px;
    padding: 40px;
    margin: auto;
    border-radius: $borderRadius;
    transition: width ease .3s;
}
.form-signin > * {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.form-signin {
    color: $themeColor;
}
.form-signin input {
    color: $themeColor;
    padding: 10px;
}
.form-signin.full-width {
    width: 100%;
}
.form-signin .input-group-prepend {
    max-width: 60px;
}