#cart-indicator {
    cursor: pointer;
    display: flex;
    align-items: center;
    a {
        min-width: 140px;
        text-align: right;
        text-transform: initial;
    }
}
#items-count {
    min-width: 110px;
    font-weight: 500;
    color: $primaryThemeColor;
}
.cart-items {
    min-height: 160px;
    max-height: 480px;
    overflow: auto;
    margin-bottom: 10px;
}
.cart-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
}
.cart-item .btn {
    margin: 0;
    font-weight: 500;
    font-size: 1em;
}
.ci-img {
    display: none;
    min-width: 100px;
    min-height: 100px;
}
.ci-info {
    flex-grow: 1;
}
.ci-name {
    font-weight: 500;
    padding-left: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ci-mods {
    padding-left: 50px;
}
.ci-total, .ci-price {
    min-width: 65px;
    text-align: right;
    padding: 0 5px;
    font-weight: bold;
}
.ci-quantity {
    min-width: 40px;
    text-align: center;
    font-weight: bold;
}
.ci-price {
    flex-grow: 1;
    text-transform: none;
}
.ci-total {
    font-weight: 500;
}
.cart-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#order-preview {
    display: none;
    background-color: #eee;
    padding-bottom: 10px;
}
#op-list {
    margin-top: 10px;
    display: flex;
    overflow: auto;
    padding: 0 10px;
}
.op-item {
    cursor: pointer;
    height: 100%;
    max-width: 230px;
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: $borderRadius;
    transition: background-color ease .3s;
}
.op-item.last {
    background-color: #fcd76a;
}
.op-img {
    height: 120px;
    width: 120px;
    flex-grow: 1;
    position: relative;
    margin-right: 10px;
}
.op-img .cart-quantity-indicator {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
}
.op-control {
    display: flex;
    flex-direction: column;
    width: 60px;
}
.op-inc, .op-dec {
    margin: 0;
    height: 50%;
    width: 100%;
}