#cart-control {
    display: none;
}
#cart-indicator {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.cart-items {
    min-height: 160px;
    max-height: 480px;
    overflow: auto;
}
.cart-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:nth-child(even) {
        background-color: #f9f9f9;
    }
    &:hover {
        background-color: #ddd;
    }
}
.cart-item .btn {
    margin: 0;
    font-weight: 500;
    font-size: 1em;
}
.ci-img {
    display: none;
    min-width: 50px;
    min-height: 50px;
}
.ci-name {
    font-weight: 500;
    padding-left: 10px;
    flex-grow: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ci-total, .ci-price {
    min-width: 65px;
    text-align: right;
    padding: 0 5px;
}
.ci-quantity {
    min-width: 40px;
    text-align: center;
}
.ci-price {
    flex-grow: 1;
}
.ci-total {
    font-weight: 500;
}
.cart-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cs-price, .cs-quantity {
    padding: 10px 20px;
}
