
* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: $backgroundColor;
    margin: 0;
}
.btn, .btn.btn-lg {
    white-space: normal;
    word-wrap: break-word;
    border-radius: 0;
}
html, body, #app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-item {
    position: relative;
    i {
        font-size: 28px;
    }
}
.navbar-brand {
    padding: 10px;
    span {
        display: none;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-nav {
    flex-direction: row;
}
main {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    padding: 0;
}
.welcome {
    width: 100%;
    max-width: 900px;
    margin-bottom: 10px;
}
#payment-method, #payment-method a {
    display: flex;
    align-items: center;
}
.payment-methods, .dining-choices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    .card {
        width: 100%;
    }
    .card-img-top {
        height: 100px;
    }
}
#standby-carousel {
    height: 100%;
    div {
        height: 100%;
        width: 100%;
    }
}
footer .nav-item:last-child {
    margin-left: auto;
}
#checkout-button {
    display: none;
    min-width: 200px;
    padding: 16px 0;
}



.spinner-ring {
    display: flex;
    position: relative;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
}
.spinner-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 5px solid #009688;
    border-radius: 50%;
    animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #009688 transparent transparent transparent;
}
.spinner-ring div:nth-child(1) { animation-delay: -0.45s; }
.spinner-ring div:nth-child(2) { animation-delay: -0.3s; }
.spinner-ring div:nth-child(3) { animation-delay: -0.15s;}
@keyframes spinner-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#spinner, .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    color: #009688;
    font-weight: bold;
}