
* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: $backgroundColor;
    margin: 0;
}
.btn, .btn.btn-lg {
    white-space: normal;
    word-wrap: break-word;
    border-radius: 0;
}
.btn-icon {
    display: flex;
    align-items: center;
}
.material-icons {
    vertical-align: middle;
}
html, body, #app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-item {
    position: relative;
    .material-icons {
        font-size: 24px;
    } 
    span {
        font-size: 20px;
    }
}
.navbar-brand {
    padding: 10px;
    span {
        display: none;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-nav {
    flex-direction: row;
}
#delivery-method {
    display: none;
}
main {
    background-color: #eee;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    padding: 0;
}
.full-width-card {
    width: 100%;
    max-width: 720px;
}
#payment-method, #payment-method a {
    display: flex;
    align-items: center;
}
.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finish-screen .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selection {
    width: 100%;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    .card {
        width: 100%;
    }
    .card-img-top {
        height: 100px;
    }
}
#standby-carousel {
    height: 100%;
    .carousel-inner, .carousel-item {
        height: 100%;
        width: 100%;
        div {
            height: 100%;
            width: 100%;
        }
    }
    .progress {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
    }
}
footer .nav-item:last-child {
    margin-left: auto;
}
footer .card-header {
    height: 85px;
}
#checkout-button {
    display: none;
    min-width: 200px;
    padding: 16px 20px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
#back-button {
    display: none;
    .nav-link {
        padding: 18px;
    }
}
.ac-control {
    text-align: right;
}
.go-back {
    min-width: 130px;
    display: flex;
    justify-content: space-between;
}
.spinner-ring {
    display: flex;
    position: relative;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
}
.spinner-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 5px solid $themeColor;
    border-radius: 50%;
    animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $themeColor transparent transparent transparent;
}
.spinner-ring div:nth-child(1) { animation-delay: -0.45s; }
.spinner-ring div:nth-child(2) { animation-delay: -0.3s; }
.spinner-ring div:nth-child(3) { animation-delay: -0.15s;}
@keyframes spinner-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#spinner, .spinner-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    color: #009688;
    font-weight: bold;
    z-index: 1;
}
.spinner-inline {
    position: relative;
    top: initial;
    left: initial;
}

.nav-item .btn-group {
    margin: 7px 1px;
    span {
        font-size: .875rem;
    }
}
.locale-button {
    display: flex;
    align-items: center;
    width: 180px;
    margin-bottom: 0;
    height: 50px;
    .flag { 
        margin-right: 10px;
        height: 20px;
        width: 30px;
    }
}
.locale-en { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg) }
.locale-cs { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cz.svg) }
.locale-sk { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sk.svg) }
.locale-vi { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vn.svg) }
.locale-ko { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kp.svg) }
.locale-ja { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/jp.svg) }
.locale-de { background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/de.svg) }
