
* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $backgroundColor;
    margin: 0;
}
.btn, .btn.btn-lg {
    white-space: normal;
    word-wrap: break-word;
    border-radius: 0;
}
.btn.btn-xlg {
    font-size: 38px;
}
.btn-icon {
    display: flex;
    align-items: center;
}
.material-icons {
    vertical-align: middle;
}
html, body, #app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.modal-fullscreen {
    max-width: none !important;
}
.nav-item {
    position: relative;
    .material-icons {
        font-size: 24px;
    } 
    span {
        font-size: 20px;
    }
}
.navbar-brand {
    padding: 10px;
    span {
        display: none;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-nav {
    flex-direction: row;
}
#delivery-method {
    display: none;
}
main {
    background-color: #eee;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    padding: 0;
}
.full-width-card {
    width: 100%;
    max-width: 720px;
}
.no-bounds-card {
    width: 100%;
}
#payment-method, #payment-method a {
    display: flex;
    align-items: center;
}
.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finish-screen .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selection {
    width: 100%;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    .card {
        width: 100%;
    }
    .card-img-top {
        height: 140px;
    }
}
#standby-carousel {
    height: 100%;
    .carousel-inner, .carousel-item {
        height: 100%;
        width: 100%;
        div {
            height: 100%;
            width: 100%;
        }
    }
    .progress {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
    }
    video {
        width: 100%;
    }
}
footer .nav-item:last-child {
    margin-left: auto;
}
footer .card-header {
    height: 85px;
}
#checkout-button {
    display: none;
    min-width: 200px;
    padding: 16px 20px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
#back-button {
    display: none;
    .nav-link {
        span {
            font-size: 14px;
        }
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100px;
    }
}
.ac-control {
    text-align: right;
}
.go-back {
    min-width: 130px;
    display: flex;
    justify-content: space-between;
}
.spinner-ring {
    display: flex;
    position: relative;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.spinner-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 5px solid $primaryThemeColor;
    border-radius: 50%;
    animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primaryThemeColor transparent transparent transparent;
}
.spinner-ring div:nth-child(1) { animation-delay: -0.45s; }
.spinner-ring div:nth-child(2) { animation-delay: -0.3s; }
.spinner-ring div:nth-child(3) { animation-delay: -0.15s;}
@keyframes spinner-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#spinner, .spinner-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    color: $primaryThemeColor;
    font-weight: bold;
    z-index: 1051;
}
.spinner-inline {
    position: relative;
    top: initial;
    left: initial;
}

.nav-item .btn-group {
    margin: 7px 1px;
    span {
        font-size: .875rem;
    }
}
.locale-button {
    display: flex;
    align-items: center;
    width: 180px;
    margin-bottom: 0;
    height: 50px;
    .flag { 
        margin-right: 10px;
        height: 20px;
        width: 30px;
    }
}
#header .locale-button {
    color: white;
}
#header .dropdown-menu .locale-button {
    color: initial;
}
.locale-en { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968213/gb_dcnpfg.svg) }
.locale-cs { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/cz_adl6g7.svg) }
.locale-sk { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/sk_agl79h.svg) }
.locale-vi { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/vn_j6hdlo.svg) }
.locale-ko { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/kp_s3nrbo.svg) }
.locale-ja { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/jp_mnxozi.svg) }
.locale-de { background-image: url(https://res.cloudinary.com/itakecz/image/upload/v1640968379/de_zalp49.svg) }
i.icon {
    display: block;
    margin: 0 auto;
}

.btn-toggle.btn-secondary {
    background-color: #e1e1e1;
}

.table-marker {
    align-items: center;
    height: 100%;
    justify-content: center;
}
.keyboard {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 720px;
    padding: 20px;
}
.keyboard button {
    width: calc(100% / 3);
    height: 100px;
    font-size: 32px;
}
// .keyboard button[data-key="o"] {
//     border-radius: 50%;
// }
.table-marker-text {
    font-size: 160px;
    line-height: 180px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 100%;
    text-align: center;
    padding: 0;
}
#skip-table-marker {
    height: 100px;
    width: 200px;
    font-size: 24px;
}
