
@media screen and (min-width: 540px) {
    #products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (min-width: 720px) {
    .product-offer {
        height: 270px;
    }
    .product-offer.highlight {
        grid-column-end: 3;
    }
    .selection {
        flex-direction: row;
        overflow: initial;
        .card {
            width: 45%;
        }
        .card-img-top {
            height: 200px;
        }
    }
    .navbar-brand span {
        display: inline;
    }
    .modal-dialog {
        max-width: 800px;
    }
    .cart-item {
        flex-wrap: nowrap;
    }
    .ci-img {
        display: block;
    }
    .ci-price {
        flex-grow: 0;
    }
    .tab {
        width: 140px;
        height: 140px;
    }
    .cart-item .btn {
        font-size: 1.5em;
    }
    .ci-total, .ci-price {
        min-width: 80px;
    }
}
@media screen and (min-width: 1024px) {
    .tab {
        width: 180px;
        height: 180px;
    }
    .product-offer {
        height: 300px;
    }
    .product-offer.highlight {
        grid-column-end: 4;
    }
    .product-offer .add, .product-details .add {
        /*min-width: 140px;*/
    }
    .add i.material-icons {
        font-size: 28px;
    }
    #products {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (min-width: 1366px) {
    #products {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}