
@media screen and (min-width: 720px) {
    .product-offer {
        height: 250px;
    }
    .selection {
        flex-direction: row;
        overflow: initial;
        .card {
            width: 45%;
        }
        .card-img-top {
            height: 200px;
        }
    }
    .navbar-brand span {
        display: inline;
    }
    #products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .modal-dialog {
        max-width: 800px;
    }
    #cart-indicator * {
        font-size: 20px;
    }
    .cart-item {
        flex-wrap: nowrap;
    }
    .ci-img {
        display: block;
    }
    .ci-price {
        flex-grow: 0;
    }
    .tab {
        min-width: 200px;
    }
    .cart-item .btn {
        font-size: 1.5em;
    }
    .ci-total, .ci-price {
        min-width: 80px;
    }
}
@media screen and (min-width: 1024px) {
    .product-offer {
        height: 300px;
    }
    .product-offer .add, .product-details .add {
        min-width: 140px;
    }
    #products {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (min-width: 1366px) {
    #products {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}