
#products {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    padding: 10px;
    &:after {
        content: "";
        display: block;
        height: 1366px;
        width: 100%;
    }
}
.products-description {
    grid-column: 1/-1;
    text-align: center;
    text-transform: initial;
}
.products-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    grid-column: 1/-1;
    margin-bottom: 0;
    span, i { padding: 10px 0; }
}
.product-offer {
    background-color: white;
    border-radius: 0;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-offer.highlight {
    grid-column-start: 1;
    grid-column-end: 2;
}
.product-offer.unavailable {
    .po-control, .po-price {
        filter: grayscale(1);
    }
    .po-img {
        filter: grayscale(0.5);
    }
}
.product-details .remove.hidden {
    visibility: hidden;
}
.product-offer .add, .product-details .add {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.po-ribbon {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.po-ribbon.mandatory {
    background-color: rgb(250, 76, 6);
    color: white;
}
.product-details .order {
    width: 330px;
}
.cart-quantity-indicator {
    font-size: 1.25em;
    margin-right: 5px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-quantity-indicator.hidden {
    display: none;
}
.cart-quantity-indicator .material-icons {
    font-size: 24px;
}
.po-img {
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding: 0;
}
.po-img .btn {
    height: 100%;
    width: 100%;
}
.po-img .cart-quantity-indicator {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
}
.po-name {
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.po-name .badge-pill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0.6em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.po-price {
    font-weight: 500;
    font-size: 1.25em;
    color: $primaryThemeColor;
}
.po-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.po-control {
    display: flex;
    justify-content: space-between;
}
.product-details {
    display: flex;
    flex-direction: column;
    button {
        padding: 20px 40px;
    }
}
.product-details.unavailable {
    .pd-mod, .pd-control, .pd-price {
        filter: grayscale(1);
    }
    .pd-img {
        filter: grayscale(0.5);
    }
}
.pd-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
}
.pd-description {
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: transparent;
    font-style: italic;
    resize: none;
    overflow: hidden;
}
.pd-intro {
    display: flex;
}
.pd-img {
    height: 240px;
    width: 50%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    box-shadow: -5px 0px 10px rgb(0, 0, 0, 0.2);
}
.pd-details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pd-mod label {
    font-size: 16px;
}
.pd-mod {
    max-height: 1280px;
    overflow: auto;
    .product-mod-wrapper {
        margin: 0 2px;
        width: calc(20% - 4px);
    } 
    .product-mod {
        font-size: 16px;
        width: 100%;
        padding: 10px;
    }
}
.pd-mod .pm-img {
    cursor: pointer;
    height: 100px;
    position: relative;
    i {
        top: 5px;
        right: 5px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
    }
}
.pm-control {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $primaryThemeColorTransparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.pm-price {
    padding: 0 5px;
    display: flex;
    align-items: center;
    background-color: $primaryThemeColorTransparent;
    font-weight: bold;
}
.pm-quantity {
    height: 50px;
    display: flex;
    align-items: center;
}
.pm-quantity .mod-quantity {
    width: 30px;
    text-align: center;
}
.pm-quantity .mod-quantity:before {
    content: '\00D7';
}
.pm-quantity .btn {
    padding: 0;
    width: 50px;
    margin: 0;
    height: 100%;
    display: inline-block;
    color: #fff;
    font-size: xx-large;
}
.pd-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pd-name .badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pd-price {
    font-size: 32px;
    font-weight: bold;
    color: $primaryThemeColor;
}
.pd-row {
    display: flex;
    text-align: right;
    width: 330px;
    button {
        flex-grow: 1;
    }
}
.pd-control {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.pd-control .btn {
    margin: 0;
}

/* common */
.ribbon-corner {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon-corner::before, .ribbon-corner::after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    border: 5px solid var(--primary-darker);
}

.ribbon-corner .ribbon-corner-text {
    position: absolute;
    display: block;
    width: 225px;
    padding: 14px 0;
    background-color: var(--primary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #f8f8f8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
}

/* top left*/
.ribbon-corner-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-corner-top-left::before, .ribbon-corner-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-corner-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-corner-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-corner-top-left .ribbon-corner-text {
    right: -22px;
    top: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}

/* top right*/
.ribbon-corner-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-corner-top-right::before,
.ribbon-corner-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-corner-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-corner-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-corner-top-right .ribbon-corner-text {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/* bottom left*/
.ribbon-corner-bottom-left {
    bottom: -10px;
    left: -10px;
}

.ribbon-corner-bottom-left::before, .ribbon-corner-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon-corner-bottom-left::before {
    bottom: 0;
    right: 0;
}

.ribbon-corner-bottom-left::after {
    top: 0;
    left: 0;
}

.ribbon-corner-bottom-left .ribbon-corner-text {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
}

/* bottom right*/
.ribbon-corner-bottom-right {
    bottom: -10px;
    right: -10px;
}

.ribbon-corner-bottom-right::before, .ribbon-corner-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.ribbon-corner-bottom-right::before {
    bottom: 0;
    left: 0;
}

.ribbon-corner-bottom-right::after {
    top: 0;
    right: 0;
}

.ribbon-corner-bottom-right .ribbon-corner-text {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
}
