
#products {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    padding: 20px 20px 0 0;
    &:after {
        content: "";
        display: block;
        height: 1366px;
        width: 100%;
    }
}
.products-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    grid-column: 1/-1;
    margin-bottom: 0;
    span, i { padding: 10px 0; }
}
.product-offer {
    border-radius: $borderRadius;
    background-color: #fff;
    padding: 10px 10px 0 10px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.product-offer.highlight {
    grid-column-start: 1;
    grid-column-end: 2;
}
.product-details .remove.hidden {
    visibility: hidden;
}
.product-offer .add, .product-details .add {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-details .order {
    min-width: 120px;
}
.cart-quantity-indicator {
    font-size: 1.25em;
    margin-right: 5px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-quantity-indicator.hidden {
    display: none;
}
.cart-quantity-indicator .material-icons {
    font-size: 24px;
}
.po-img {
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding: 0;
}
.po-img .btn {
    height: 100%;
    width: 100%;
}
.po-img .cart-quantity-indicator {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
}
.po-name {
    padding: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    width: 100%;
}
.po-price {
    font-weight: 500;
    font-size: 1.25em;
    color: $themeColor;
}
.po-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.po-control {
    display: flex;
    justify-content: space-between;
}
.product-details {
    display: flex;
    flex-direction: column;
    button {
        padding: 20px 40px;
    }
}
.pd-description {
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: transparent;
    font-style: italic;
    resize: none;
}
.pd-img {
    height: 420px;
}
.pd-details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pd-mod .product-mod {
    padding: 20px 10px;
    width: calc(20% - 2px);
    min-width: initial;
    max-width: initial;
    height: 64px;
}
.pd-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.pd-price {
    font-size: 32px;
    font-weight: bold;
    color: $themeColor;
    text-align: right;
}
.pd-row {
    display: flex;
    text-align: right;
}
.pd-control {
    align-items: center;
    justify-content: space-between;
}
.pd-control .btn {
    margin: 0;
}
