
#products {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    padding: 20px 20px 0 0;
    &:after {
        content: "";
        display: block;
        height: 500px;
        width: 100%;
    }
}
.product-offer {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 10px 0 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.product-offer.highlight {
    grid-column-start: 1;
    grid-column-end: 2;
}
.product-offer .add, .product-details .add {
    /*min-width: 100px;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart-quantity-indicator {
    font-size: 1.25em;
    margin-right: 5px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-quantity-indicator.hidden {
    display: none;
}
.cart-quantity-indicator .material-icons {
    font-size: 24px;
}
.po-img {
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding: 0;
}
.po-img .btn {
    height: 100%;
    width: 100%;
}
.po-img .cart-quantity-indicator {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
}
.po-name {
    padding: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    width: 100%;
}
.po-price {
    font-weight: 500;
    font-size: 1.25em;
    color: $themeColor;
}
.po-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.po-control {
    display: flex;
    justify-content: space-between;
}
.product-details {
    display: flex;
}
.pd-img {
    width: 50%;
    height: 200px;
}
.pd-details {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.pd-name {
    text-transform: uppercase;
    font-weight: 500;
}
.pd-price {
    font-size: 32px;
    font-weight: 500;
}
.pd-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.pd-control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pd-control .btn {
    margin: 5px;
}