
#tabs {
    overflow: auto;
    padding: 20px 20px 0 20px;
    scroll-padding: 50px 0 0 50px;
}
.tab {
    border-radius: $borderRadius;
    display: flex;
    color: white;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    opacity: 0.5;
    padding: 0;
    background-color: white !important;
}
.tab-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    background-size: 75%;
}
.tab-name {
    opacity: 0;
    background-color: $themeColor;
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
    transition: opacity ease .3s;
}
.tab.active {
    opacity: 1;
    .tab-name {
        opacity: 1;
    }
}
.tab-overlay {
    filter: grayscale(1);
}
.tab.active .tab-overlay {
    filter: grayscale(0);
}
.tab .cart-quantity-indicator {
    min-width: 70px;
    font-size: 1em;
    position: absolute;
    height: auto;
    width: auto;
    top: 5px;
    right: 0;
    padding: 5px 15px;
    .material-icons {
        font-size: 18px;
    }
}