$backgroundColor: white;
$primaryThemeColor: var(--primary);
$primaryThemeColorDarker: var(--primary-darker);
$primaryThemeColorTransparent: var(--primary-transparent);
$primaryThemeColorDarkerTransparent: var(--primary-darker-transparent);
$borderRadius: 5px;